body{
     background-color:rgb(200, 228, 228);
     height: 100%;
}

.txt-center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home-back{
   height: 100%;
   width: 100%;

}

